<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4 ">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-primary">Listando postagens <strong><%= status %></strong></h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class=" mt-1 mb-4 ">
          <!-- Topbar Search -->
          <form class="d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 shadow-sm bg-white rounded">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
