<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Postagens</h1>
  <%= link_to new_dashboard_post_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
  <i class="fas fa-plus fa-sm text-white-50"></i> Novo Post
  <% end %>
</div>
