<div class="text-right">
<form class="d-sm-inline-block form-inline shadow-sm bg-white rounded">
  <div class="input-group ">
    <input type="text" class="p-3 m-auto h-100 form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary d-flex align-content-stretch flex-wrap p-3 m-0 rounded-right" type="button">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
</div>
<br>
