<main id="content" class="container content-inner" role="main">
  <h2 class="text-center">Sobre Nós</h2>
  <br>
  <article class="post tag-hash-institucional featured page row">
    <section class="content-holder col-lg-8 col-sm-10 ml-auto mr-auto">
      <div class="post-content">
        <div class="editor-content">
          <figure class="kg-card kg-embed-card">
            <div class="text-center">
              <iframe width="480" height="270" src="https://www.youtube.com/embed/DmvOFA24wOs?feature=oembed" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen=""></iframe>
            </div>
          </figure>
          <p>Somos uma empresa de tecnologia formada por profissionais de RH. Por isso, entendemos o seu dia a dia e os desafios de gestão do capital humano.</p>
          <p>Nossas soluções tecnológicas são focadas em pessoas e fáceis de usar. Execute a estratégia de RH de maneira ágil.</p><blockquote>Nosso coração está em gestão de performance. Nesse segmento já atingimos: <br>Mais de <strong>200</strong> clientes atendidos, mais de 500.000 avaliações realizadas. Mais de <strong>300.000</strong> usuários ativos em nossa base.</blockquote><p>Segurança é muito importante para nós. Por isso, mantemos nossas soluções e os dados de sua empresa na <strong>Amazon.</strong></p><p>Comprometimento com entregas, cultura de inovação, e atuação ética estão em nosso DNA.</p><p>Tenha a comodidade de realizar o treinamento de nosso software In Company</p><p>Usufrua da melhor experiência para usuários, aplique pesquisas e avaliações sem dificuldades. Se surgir alguma dúvida, você poderá contar com nosso suporte por e-mail, telefone ou vídeo conferência.</p><p>A sua estrutura de RH é complexa? <br>Perfeito. A Umanni trabalha com customização de software de avaliação de desempenho. Nós tornamos sua ferramenta de gestão totalmente aderente às necessidades de sua empresa.</p><h2 id="em-que-acreditamos"><a href="#em-que-acreditamos" class="chain" data-clipboard-text="https://www.umanni.com.br/sobre-nos/#em-que-acreditamos" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="undefined"><i class="fas fa-link"></i></a>Em que acreditamos</h2><p><strong>Missão: </strong>Facilitar a gestão de pessoas.<br></p><p><strong>Visão: </strong>Ser referencia em meios para gestão de pessoas.</p><p><strong>Valores: </strong></p><!--kg-card-begin: markdown--><ol>
            <li>Ética, sem exceções</li>
            <li>Compromisso com resultados</li>
            <li>Meritocracia para todos</li>
            <li>Vontade de aprender e ensinar</li>
            <li>Inovação contínua</li>
            <li>Qualidade com simplicidade</li>
          </ol>
        </div>
      </section>
    </article>
  </main>
